//
// Section
// --------------------------------------------------


// block / margin
// -------------------------
.block-mg-xl {
  margin-top: $grid-gutter-width * 2;
  margin-bottom: $grid-gutter-width * 2;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 4;
    margin-bottom: $grid-gutter-width * 4;
  }
}
.block-mg-lg {
  margin-top: $grid-gutter-width * 1.5;
  margin-bottom: $grid-gutter-width * 1.5;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 3;
    margin-bottom: $grid-gutter-width * 3;
  }
}
.block-mg-md {
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 2;
    margin-bottom: $grid-gutter-width * 2;
  }
}
.block-mg-sm {
  margin-top: $grid-gutter-width / 1.5;
  margin-bottom: $grid-gutter-width / 1.5;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
  }
}
.block-mg-xs {
  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
  }
}


// block / padding
// -------------------------
.block-pd-xl {
  padding-top: $grid-gutter-width * 2;
  padding-bottom: $grid-gutter-width * 2;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 4;
    padding-bottom: $grid-gutter-width * 4;
  }
}
.block-pd-lg {
  padding-top: $grid-gutter-width * 1.5;
  padding-bottom: $grid-gutter-width * 1.5;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 3;
    padding-bottom: $grid-gutter-width * 3;
  }
}
.block-pd-md {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 2;
    padding-bottom: $grid-gutter-width * 2;
  }
}
.block-pd-sm {
  padding-top: $grid-gutter-width / 1.5;
  padding-bottom: $grid-gutter-width / 1.5;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
  }
}
.block-pd-xs {
  padding-top: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width / 2;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
  }
}

