//
// Section
// --------------------------------------------------


// block - margin
// -------------------------
.block-mg-xl {
  margin-top: $grid-gutter-width * 2;
  margin-bottom: $grid-gutter-width * 2;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 4;
    margin-bottom: $grid-gutter-width * 4;
  }
}
.block-mg-lg {
  margin-top: $grid-gutter-width * 1.5;
  margin-bottom: $grid-gutter-width * 1.5;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 3;
    margin-bottom: $grid-gutter-width * 3;
  }
}
.block-mg-md {
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 2;
    margin-bottom: $grid-gutter-width * 2;
  }
}
.block-mg-sm {
  margin-top: $grid-gutter-width / 1.5;
  margin-bottom: $grid-gutter-width / 1.5;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
  }
}
.block-mg-xs {
  margin-top: $grid-gutter-width / 2;
  margin-bottom: $grid-gutter-width / 2;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;
  }
}


// block - padding
// -------------------------
.block-pd-xl {
  padding-top: $grid-gutter-width * 2;
  padding-bottom: $grid-gutter-width * 2;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 4;
    padding-bottom: $grid-gutter-width * 4;
  }
}
.block-pd-lg {
  padding-top: $grid-gutter-width * 1.5;
  padding-bottom: $grid-gutter-width * 1.5;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 3;
    padding-bottom: $grid-gutter-width * 3;
  }
}
.block-pd-md {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 2;
    padding-bottom: $grid-gutter-width * 2;
  }
}
.block-pd-sm {
  padding-top: $grid-gutter-width / 1.5;
  padding-bottom: $grid-gutter-width / 1.5;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
  }
}
.block-pd-xs {
  padding-top: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width / 2;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
  }
}


// margin Top
// -------------------------
.mt-xl {
  margin-top: $grid-gutter-width * 2 !important;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 4 !important;
  }
}
.mt-lg {
  margin-top: $grid-gutter-width * 1.5 !important;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 3 !important;
  }
}
.mt-md {
  margin-top: $grid-gutter-width !important;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 2 !important;
  }
}
.mt-sm {
  margin-top: $grid-gutter-width / 1.5 !important;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width !important;
  }
}
.mt-xs {
  margin-top: $grid-gutter-width / 2 !important;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width / 2 !important;
  }
}
.mt-0 {
  margin-top: 0 !important;
}


// margin Bottom
// -------------------------
.mb-xl {
  margin-bottom: $grid-gutter-width * 2 !important;
  @media (min-width: $screen-sm-min) {
    margin-bottom: $grid-gutter-width * 4 !important;
  }
}
.mb-lg {
  margin-bottom: $grid-gutter-width * 1.5 !important;
  @media (min-width: $screen-sm-min) {
    margin-bottom: $grid-gutter-width * 3 !important;
  }
}
.mb-md {
  margin-bottom: $grid-gutter-width !important;
  @media (min-width: $screen-sm-min) {
    margin-bottom: $grid-gutter-width * 2 !important;
  }
}
.mb-sm {
  margin-bottom: $grid-gutter-width / 1.5 !important;
  @media (min-width: $screen-sm-min) {
    margin-bottom: $grid-gutter-width !important;
  }
}
.mb-xs {
  margin-bottom: $grid-gutter-width / 2 !important;
  @media (min-width: $screen-sm-min) {
    margin-bottom: $grid-gutter-width / 2 !important;
  }
}
.mb-0 {
  margin-bottom: 0 !important;
}


// padding Top
// -------------------------
.pt-xl {
  padding-top: $grid-gutter-width * 2 !important;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 4 !important;
  }
}
.pt-lg {
  padding-top: $grid-gutter-width * 1.5 !important;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 3 !important;
  }
}
.pt-md {
  padding-top: $grid-gutter-width !important;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 2 !important;
  }
}
.pt-sm {
  padding-top: $grid-gutter-width / 1.5 !important;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width !important;
  }
}
.pt-xs {
  padding-top: $grid-gutter-width / 2 !important;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width / 2 !important;
  }
}
.pt-0 {
  padding-top: 0 !important;
}

// padding Bottom
// -------------------------
.pb-xl {
  padding-bottom: $grid-gutter-width * 2 !important;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width * 4 !important;
  }
}
.pb-lg {
  padding-bottom: $grid-gutter-width * 1.5 !important;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width * 3 !important;
  }
}
.pb-md {
  padding-bottom: $grid-gutter-width !important;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width * 2 !important;
  }
}
.pb-sm {
  padding-bottom: $grid-gutter-width / 1.5 !important;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width !important;
  }
}
.pb-xs {
  padding-bottom: $grid-gutter-width / 2 !important;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width / 2 !important;
  }
}
.pb-0 {
  padding-bottom: 0 !important;
}
