//
// Scaffolding
// --------------------------------------------------

// Body reset

html, body {
  position: relative;
  overflow-x: hidden;
}

html {
  font-size: 1em;
}

body {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  // letter-spacing: -0.02em;
  // text-rendering: optimizeLegibility;
}

a   {
  tap-highlight-color: rgba(#000, .1);
  -webkit-tap-highlight-color: rgba(#000, .1);
}

ul.left-flat {
  padding-left: 1.3em;
}

caption {
  padding: 8px;
}
