//
// Typography
// --------------------------------------------------


// Headings (default)
// -------------------------
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  small, .small {
    font-weight: inherit;
  }
}
h1, .h1 {
	font-size: floor(($font-size-h1 * .7));
	@media (min-width: $screen-sm-min) {
		font-size: 2.6em;
	}
}
h2, .h2 {
	font-size: floor(($font-size-h2 * .75));
	@media (min-width: $screen-sm-min) {
		font-size: 2.15em;
	}
}
h3, .h3 {
	font-size: floor(($font-size-h3 * .8));
	@media (min-width: $screen-sm-min) {
		font-size: 1.7em;
	}
}
h4, .h4 {
  font-size: floor(($font-size-h4 * .8));
  @media (min-width: $screen-sm-min) {
    font-size: 1.2em;
  }
}
h5, .h5 {
  font-size: 1em;
  @media (min-width: $screen-sm-min) {
    font-size: 1.1em;
  }
}


// Body text
// -------------------------
p {
  margin-bottom: 1em;
}
.lead {
  line-height: $line-height-base;
  font-size: 1.15em;
  @media (min-width: $screen-sm-min) {
    font-size: 1.35em;
  }
}
