//
// Utility
// --------------------------------------------------


// Contextual colors
// -------------------------
.text-white {
  color: $white-base;
}


// Contextual backgrounds
// -------------------------
.bg-white {
  background-color: $white-base;
}
.bg-gray-base {
  background-color: $gray-base;
  color: $white-base;
}
.bg-gray-dark {
  background-color: $gray-dark;
  color: $white-base;
}
.bg-gray {
  background-color: $gray;
  color: $white-base;
}
.bg-gray-lighter {
  background-color: $gray-lighter;
}
.bg-gray-lightest {
  background-color: $gray-lightest;
}


// img Link
// -------------------------
.link-opacity {
  transition: opacity .3s;
  a:hover &, a:focus & {
    opacity: .7;
    filter: alpha(opacity=70);
  }
}
