//
// Utility
// --------------------------------------------------


// margin Top
// -------------------------
.mt-xj {
  margin-top: $grid-gutter-width * 2 !important;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 4 !important;
  }
}
.mt-lg {
  margin-top: $grid-gutter-width * 1.5 !important;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 3 !important;
  }
}
.mt-md {
  margin-top: $grid-gutter-width !important;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width * 2 !important;
  }
}
.mt-sm {
  margin-top: $grid-gutter-width / 1.5 !important;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width !important;
  }
}
.mt-xs {
  margin-top: $grid-gutter-width / 2 !important;
  @media (min-width: $screen-sm-min) {
    margin-top: $grid-gutter-width / 2 !important;
  }
}
.mt-0 {
  margin-top: 0 !important;
}

// margin Bottom
// -------------------------
.mb-xl {
  margin-bottom: $grid-gutter-width * 2 !important;
  @media (min-width: $screen-sm-min) {
    margin-bottom: $grid-gutter-width * 4 !important;
  }
}
.mb-lg {
  margin-bottom: $grid-gutter-width * 1.5 !important;
  @media (min-width: $screen-sm-min) {
    margin-bottom: $grid-gutter-width * 3 !important;
  }
}
.mb-md {
  margin-bottom: $grid-gutter-width !important;
  @media (min-width: $screen-sm-min) {
    margin-bottom: $grid-gutter-width * 2 !important;
  }
}
.mb-sm {
  margin-bottom: $grid-gutter-width / 1.5 !important;
  @media (min-width: $screen-sm-min) {
    margin-bottom: $grid-gutter-width !important;
  }
}
.mb-xs {
  margin-bottom: $grid-gutter-width / 2 !important;
  @media (min-width: $screen-sm-min) {
    margin-bottom: $grid-gutter-width / 2 !important;
  }
}
.mb-0 {
  margin-bottom: 0 !important;
}


// padding Top
// -------------------------
.pt-xl {
  padding-top: $grid-gutter-width * 2 !important;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 4 !important;
  }
}
.pt-lg {
  padding-top: $grid-gutter-width * 1.5 !important;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 3 !important;
  }
}
.pt-md {
  padding-top: $grid-gutter-width !important;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width * 2 !important;
  }
}
.pt-sm {
  padding-top: $grid-gutter-width / 1.5 !important;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width !important;
  }
}
.pt-xs {
  padding-top: $grid-gutter-width / 2 !important;
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width / 2 !important;
  }
}
.pt-0 {
  padding-top: 0 !important;
}

// padding Bottom
// -------------------------
.pb-xl {
  padding-bottom: $grid-gutter-width * 2 !important;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width * 4 !important;
  }
}
.pb-lg {
  padding-bottom: $grid-gutter-width * 1.5 !important;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width * 3 !important;
  }
}
.pb-md {
  padding-bottom: $grid-gutter-width !important;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width * 2 !important;
  }
}
.pb-sm {
  padding-bottom: $grid-gutter-width / 1.5 !important;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width !important;
  }
}
.pb-xs {
  padding-bottom: $grid-gutter-width / 2 !important;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width / 2 !important;
  }
}
.pb-0 {
  padding-bottom: 0 !important;
}


// Contextual colors
// -------------------------
.txt-white {
  color: $white-base;
}


// Contextual backgrounds
// -------------------------
.bg-white {
  background-color: $white-base;
}
.bg-gray-base {
  background-color: $gray-base;
  color: $white-base;
}
.bg-gray-dark {
  background-color: $gray-dark;
  color: $white-base;
}
.bg-gray {
  background-color: $gray;
  color: $white-base;
}
.bg-gray-lighter {
  background-color: $gray-lighter;
}
.bg-gray-lightest {
  background-color: $gray-lightest;
}


// img Link
// -------------------------
.img-opacity {
  transition: opacity .3s;
  a:hover &, a:focus & {
    opacity: .7;
    filter: alpha(opacity=70);
  }
}